<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>marca</th>
          <th>linea</th>
          <th>referencia</th>
          <th>modelo</th>
          <th>kilometraje</th>
          <th>color</th>
          <th>imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of vehiculos">
          <td>
            {{ c.id }}
          </td>
          <td>
            {{ c.marca }}
          </td>
          <td>
            {{ c.linea }}
          </td>
          <td>
            {{ c.referencia }}
          </td>
          <td>
            {{ c.modelo }}
          </td>
          <td>
            {{ c.kilometraje }}
          </td>
          <td>
            {{ c.color }}
          </td>
          <td>
            <img [src]="c.imagen" alt="Imagen del vehiculo" width="100" height="100">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>